<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CusMaSy.Project.Properties.Settings.CusMaSyDbConnectionString"
            connectionString="Data Source=tarraft-08\sqlexpress;Initial Catalog=CusMaSyDb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--<add key="ConnectionString" value="SERVER=localhost;DATABASE=cusmasydb;UID=UID;PASSWORD=PASSWORD;"/>-->
    <add key="ConnectionString" value="Data Source=SERVER\sqlexpress;Initial Catalog=CusMaSyDb;Integrated Security=True"/>

  </appSettings>
</configuration>